html {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

@include media-laptop-query {
}

@include media-mobile-query {
}
